ul {list-style: none; padding: 0px}

select {
    height: 30px;
    width: 160px;
    border: 1px solid #666;
    background: #ffffff;
    color: #666;
    font-size: 14px;
}

.numberOfSongs {float: right; font-size: 12px; line-height: 28px;}
.data-menu, .data-info {width: 100%; display: table}
.data-menu div {float:left; line-height: 40px; padding: 0px 10px; background-color: #369; color:white; cursor: pointer;border-right: 1px solid #fff; border-bottom: 1px solid #fff; font-size: 16px;display: table-cell;}
.data-info div {float: left; line-height: 35px; padding: 0px 10px; background-color: #f3f3f3; color: #585858; border-right: 1px solid #fff; border-bottom: 1px solid #fff;font-size: 14px; display: table-cell;}
.data-menu i {margin:0px 0px 0px 5px; line-height: 30px; }
.data-menu .singer, .data-info .singer {width:32%;}
.data-menu .song, .data-info .song {width:32%;}
.data-menu .genre, .data-info .genre {width:21%;}
.data-menu .year, .data-info .year {width:15%;}

/*.filter {margin: 30px 0px 0px 10px;width: 20%;}
.filter ul {display: inline-block; margin: 15px 0px 20px 0px;}
.filter ul li {float: none;}*/

.resultsPerPage ul li.active {background-color:#666; border:1px solid #666; color:white;}