<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MusicApp</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/paginator.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script	src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
	</script>
    
</head>

<body ng-app="klika_tech" id="main-body">

<div id="grad1">
	<a href="#"><h1>Music App Challenge</h1></a>
	<div class="page">
		<div class="container">

			<!-- Banner starts -->
			<div class="banner">

				<!-- Navbar starts -->
				<nav class="navbar navbar-default">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav navbar-right">
								<li><a rel="shadow-radial" class="button shadow-radial scroll" href="#hover">Music App</a></li>
								<li><a rel="shadow-radial" class="button shadow-radial scroll" href="#hower">Add</a></li>
								<li><a rel="shadow-radial" class="button shadow-radial scroll" href="#hower">Playlist</a></li>
								<li><a rel="shadow-radial" class="button shadow-radial scroll" href="#follow">Follow</a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</nav>
				<!-- Navbar ends -->

				<div class="col-md-4" id="heading">
					<h2>MUSIC</h2>
					<span>by Grinzzly</span>
					<div class="para">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<a href="https://github.com/Grinzzly/KlikaTech" target="_blank" class="button outline-inward">GIT</a>
				</div>
				<div class="col-md-8" id="girl">
					<div class="headphone">
						<img src="/img/girl.png" alt="girl">
					</div>
				</div>
			</div>
			<!-- Banner ends -->

			<!-- AngularJS controller starts -->
			<div ng-controller="mainCtrl">

				<!-- Content section starts -->
				<div class="content">
					<div class="about">

						<!-- Top block (above playlist) starts -->
						<div class="top">
							<div class="row">

								<!-- Filter starts -->
								<div class="col-md-7" id="hover">
									<div class="hover1">
										<h2>Filter</h2>
										<ul>
											<li>
												<label for="singer">Singers</label>
												<select class="form-control" ng-model="musicFilterAttr.singer" ng-change="setNewMusic()" ng-options="singer.val as singer.desc for singer in singers">
												</select>
											</li>
											<br>
											<li>
												<label for="genre">Genres</label>
												<select class="form-control" ng-model="musicFilterAttr.genre" ng-change="setNewMusic()" ng-options="genre.val as genre.desc for genre in genres"></select>
											</li>
											<br>
											<li>
												<label for="Year">Years</label>
												<select class="form-control" ng-model="musicFilterAttr.year" ng-change="setNewMusic()" ng-options="year.val as year.desc for year in years"></select>
											</li>
											<br>
											<li>
												<span class="numberOfSongs" ng-bind="'Number of songs: ' + newMusic.length"></span>
											</li>
										</ul>
									</div>
									<h2 id="Playlist">Playlist</h2>
								</div>
								<!-- Filter ends -->

								<!-- Addin block starts -->
								<div class="col-md-5" id="profile">
									<h2>Add New Song</h2>
									<form name ="addForm" novalidate>
										<ul>
											<li>
												<label for="singer">Singer</label>
												<br>
												<input name = "Singer"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="songInfo.singer">
                                                <div class="row">
                                                    <div class="col-xs-3"></div>
                                                        <div ng-show = "signUpForm.email.$error.required" class="alert alert-danger col-xs-9">
                                                            Singer is required.
                                                        </div>
                                                </div>
											</li>
											<br>
											<li>
												<label for="song">Song</label>
												<br>
												<input name = "Song" type="text" class="form-control" ng-model="songInfo.song" required>
											</li>
											<br>
											<li>
												<label for="genre">Genre</label>
												<br>
												<input name = "Genre" type="text" class="form-control" ng-model="songInfo.genre" required>
											</li>
											<br>
											<li>
												<label for="year">Year</label>
												<br>
												<input name = "Year"
                                                       type="number"
                                                       class="form-control"
                                                       ng-minlength="0"
                                                       ng-maxlength="2017"
                                                       ng-model="songInfo.year">
											</li>
											<br>
											<li class="adding">
												<a class="add button outline-inward" ng-click="addMusic(songInfo)">ADD</a>
											</li>
										</ul>
									</form>
								</div>
								<!-- Adding block ends -->

							</div>
						</div>
						<!-- Top block (above playlist) ends -->
						
						<!-- Playlist section starts -->
						<div id="Table">
							<div class="col-md-12">

								<!-- Table starts -->
								<div class="data-menu">
									<div class="singer" ng-click="orderByType('singer')">SINGER <i class="fa fa-caret-down" aria-hidden="true"></i></div>
									<div class="song"  ng-click="orderByType('song')">SONG <i class="fa fa-caret-down" aria-hidden="true"></i></div>
									<div class="genre" ng-click="orderByType('genre')">GENRE <i class="fa fa-caret-down" aria-hidden="true"></i></div>
									<div class="year" ng-click="orderByType('year')">YEAR <i class="fa fa-caret-down" aria-hidden="true"></i></div>
								</div>
								<div class="data-info" ng-repeat="music in newMusic" ng-if="$index < pageSize">
									<div class="singer" ng-bind="music.singer"></div>
									<div class="song" ng-bind="music.song"></div>
									<div class="genre" ng-bind="music.genre"></div>
									<div class="year" ng-bind="music.year"></div>
								</div>
								<!-- Table ends -->

								<!-- Paginator starts -->
								<div class="row">
									<div class="pageNumber">
										<nav class="pagination">
											<a aria-label="Previous" ng-click="previousPage(actualPage - 1)" ng-disabled="actualPage == 0" class="prev">&lt;</a>
											<a ng-repeat="i in pages(pageNumbers) track by $index" ng-click="setPageNum($index)" ng-bind="$index + 1" ng-class="{active: actualPage == $index }"></a>
											<a aria-label="Next" ng-click="nextPage(actualPage + 1)" ng-disabled="actualPage >= (oldMusic.length/pageSize - 1)" class="next">&gt;</a>
										</nav>
										<div class="resultsPerPage pull-right">
											<nav class="pagination">
												<a id="five" ng-class="{active: pageSize==5}" ng-click="setResults(5)">5</a>
												<a ng-class="{active: pageSize==10}" ng-click="setResults(10)">10</a>
												<a ng-class="{active: pageSize==25}" ng-click="setResults(25)">25</a>
												<a ng-class="{active: pageSize==50}" ng-click="setResults(50)">50</a>
												<a ng-class="{active: pageSize==100}" ng-click="setResults(100)">100</a>
											</nav>
										</div>
									</div>
								</div>
								<!-- Paginator ends -->

							</div>
						</div>
						<!-- Playlist section ends -->

					</div>
				</div>
				<!-- Content section ends -->

			</div>
			<!-- AngularJS controller ends -->
			
			<!-- Footer starts -->
			<div class="footer">
				<ul class="social" id="follow">
					<li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
					<li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
					<li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
					<li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
					<li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
					<li><a href="#" class="itunes" title="Go to Our iTunes App"></a></li>
				</ul>

				<div class="copyright">
					<p>&copy; 2017 MusicApp Challenge from KlikaTech | Made by <a href="https://github.com/Grinzzly"> Grinzzly</a></p>
				</div>

				<!-- inline script for smooth lifting -->
				<script type="text/javascript">
                    $(document).ready(function() {
                        $().UItoTop({ easingType: 'easeOutQuart' });
                    });
				</script>

				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
			<!-- Footer ends -->

		</div>
	</div>
	<!-- Page ends -->

</div>
<!-- Gradient ends -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/modules/NgMusic.js"></script>
<script src="/js/controllers/NgMusicalController.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script src="/js/services/services.js"></script>

</body>
</html>